In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from numpy import linalg as LA
from collections import defaultdict
import numpy as np
import random

In [144]:
exportaciones_brasil = pd.read_csv("exportacao_full.csv", index_col=None)

In [195]:
exportaciones_brasil_2010 = exportaciones_brasil[exportaciones_brasil["Year"] == 2010]

In [196]:
exportaciones_brasil_2010.head(5)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2010,1,Afghanistan,Itajaí - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),197162,99945
1,2010,1,Afghanistan,Lapa - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),114570,76989
2,2010,1,Afghanistan,Rolândia - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),72900,54000
3,2010,1,Afghanistan,São Paulo - SP,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),153593,106541
4,2010,1,Afghanistan,Xaxim - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),26739,24990

In [197]:
exportaciones_brasil_2010.loc[:, 'City'] = exportaciones_brasil_2010.loc[:, 'City'].str.replace('.* - ', '')

exportaciones_brasil_2010.head(5)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2010,1,Afghanistan,SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),197162,99945
1,2010,1,Afghanistan,PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),114570,76989
2,2010,1,Afghanistan,PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),72900,54000
3,2010,1,Afghanistan,SP,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),153593,106541
4,2010,1,Afghanistan,SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),26739,24990

In [198]:
exportaciones_brasil_2010 = exportaciones_brasil_2010.rename(columns={'City': 'State'})

exportaciones_brasil_2010.head(5)

,Year,Month,Country,State,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2010,1,Afghanistan,SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),197162,99945
1,2010,1,Afghanistan,PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),114570,76989
2,2010,1,Afghanistan,PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),72900,54000
3,2010,1,Afghanistan,SP,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),153593,106541
4,2010,1,Afghanistan,SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),26739,24990

In [199]:
grafo = nx.from_pandas_edgelist(exportaciones_brasil_2010, 'Country', 'State')

In [203]:
columna_estado = exportaciones_brasil_2010['State']
print('Los estados de origen de las exportaciones con mas exportaciones y su cantidad son: ')
columna_estado.value_counts().head(10)

Los estados de origen de las exportaciones con mas exportaciones y su cantidad son:

SP    547461
RS    154102
PR     89219
SC     89139
MG     63610
RJ     45666
MS     17837
BA     17386
CE     11155
ES      9952
Name: State, dtype: int64

In [204]:
estados_2010_aux = exportaciones_brasil_2010["State"]
estados_2010 = []
estados_2010 = estados_2010_aux.to_list()

In [205]:
exportaciones_brasil_2010.insert(loc=len(exportaciones_brasil_2010.columns), column = 'Region',value= estados_2010)

In [206]:
regiones = {}

regiones['AC'] = 'Region Norte'
regiones['AL'] = 'Region Nordeste'
regiones['AP'] = 'Region Norte'
regiones['AM'] = 'Region Norte'
regiones['BA'] = 'Region Nordeste'
regiones['CE'] = 'Region Nordeste'
regiones['ES'] = 'Region Sudeste'
regiones['EX'] = 'Region Sudeste'
regiones['GO'] = 'Region Centro Oeste'
regiones['MA'] = 'Region Nordeste'
regiones['MG'] = 'Region Sudeste'
regiones['MS'] = 'Region Centro Oeste'
regiones['MT'] = 'Region Centro Oeste'
regiones['ND'] = 'Region Centro Oeste'
regiones['PA'] = 'Region Norte'
regiones['PB'] = 'Region Nordeste'
regiones['PE'] = 'Region Nordeste'
regiones['PI'] = 'Region Nordeste'
regiones['PR'] = 'Region Sur'
regiones['RJ'] = 'Region Sudeste'
regiones['RN'] = 'Region Nordeste'
regiones['RS'] = 'Region Sur'
regiones['RO'] = 'Region Norte'
regiones['RR'] = 'Region Norte'
regiones['SC'] = 'Region Sur'
regiones['SP'] = 'Region Sudeste'
regiones['SE'] = 'Region Nordeste'
regiones['TO'] = 'Region Norte'
regiones['DF'] = 'Region Centro Oeste'

In [207]:
exportaciones_brasil_2010.loc[:, 'Region'] = exportaciones_brasil_2010.loc[:, 'Region'].replace(regiones, regex=True)

In [210]:
nx.is_connected(grafo)

True

In [211]:
print("El diametro de la red es", nx.diameter(grafo))

('El diametro de la red es', 4)

In [212]:
"""
algoritmo sacado de:
https://github.com/mbuchwald
"""

def grado_promedio(grafo):
    total = 0
    for v in grafo:
        total += len(list(grafo.neighbors(v)))
    return total / len(grafo)

grado_promedio_grafo = round(grado_promedio(grafo), 2)
print("El grado promedio de la red es", grado_promedio_grafo)

('El grado promedio de la red es', 22.0)